// Variables globales

//Colors
$mainColor: rgb(248, 177, 57); 
$secondaryColor:grey;
$BlueColor: rgb(100, 97, 165);
$RedColor: rgb(195, 58, 46);
$keyColor: black;
$backgroundColor:rgb(255, 251, 240);
$navBackgroundColor: rgba(255, 251, 240, 0.856);  

// Fonts
$mainFont: 'Prompt', sans-serif;

//Sizing
$textSm:.8em;
$textMd:1em;
$textLg:2em;
$textXl:3em;

//Font weight
$fontLight:100;
$fontBold:600;
$fontRegular:400;